button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin: 10px;
}

.modal-body {
    color: #333;
}

.one_quarter {
    margin-bottom: 50px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #32a6ca;
}

.image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.home {
    color: #5c5656;
    ;
    font-size: xx-large;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddb453;
    padding: 15px;
    text-transform: capitalize;
}

.container1 {
    padding: 30px 0;
    margin-left: 40px;
}

a:hover {
    text-decoration: none;
}

.user {
    width: 110px;
    margin-right: 10px;
}

.name_user {
    margin-bottom: -10px;
    margin-left: 110px;
    font-size: 25px;
    color: #fff;
}

.info_user {
    margin-top: 0px;
    margin-bottom: -80px;
    margin-left: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ab9e8d;
}

.modif_user {
    margin-bottom: -30px;
    margin-top: 0px;
    margin-right: 10px;
    text-transform: capitalize;
}

.info_user2 {
    width: 150px;
    margin-right: 10px;
}

.log2 {
    width: 50%;
}

.log1 {
    margin-top: 0px;
    color: #000;
    box-sizing: border-box;
}

.log1 input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #2980B9;
    background: transparent;
    outline: none;
    height: 40px;
    color: #333;
    font-size: 13px;
}

.log1 input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.supp_modif {
    width: 40px;
    height: 39px;
}

.supp_modif1 {
    width: 47px;
    height: 45px;
    margin-left: 2%;
}

article p {
    color: #1b1a1a;
    ;
}

.show_model {
    color: #333;
    margin: 10px;
    font-size: 18px;
    margin-left: 20px;
}

.button_choix {
    margin-left: 15px;
}

.footer_p {
    color: #ccc8c8;
}

.model-open {
    padding-right: 0px;
}

.main {
    font-size: 18px;
    margin-top: -10px;
}

.sujet1 {
    border-radius: 0px;
    height: 40px;
}

.span_dom {
    background-color: #fff;
    border: none;
}

label span {
    color: #3c3a3a;
}

.form-control-feedback {
    margin-top: 10px;
    left: auto;
}

.show-pass-btn {
    pointer-events: fill;
    cursor: pointer;
}

.form-control {
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #f4f6f8;
    border-color: #313335;
}